/* images:
1- https://www.vecteezy.com/vector-art/690792-rock-paper-scissors-hand-icons
2 - https://www.vecteezy.com/vector-art/691489-retro-offset-rock-paper-scissors-icons
*/
body {
    font: 1em 'Balsamiq Sans', cursive, Arial, sans-serif;
}

h2 {
    font-size: 2em;
    height: 10px;
    line-height: 10px;
}

#topDiv {
    height: 200px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

header {
    text-align: center;
    font-size: 200%;
}

#gameScore {
    border: black 2px solid;
    background-color: orange;
    height: 90px;
    position: relative;
}

#playerScore, #computerScore {
    background: gray;
    font-size: 4em;
    height: 80px;
    width: 80px;
    line-height: 85px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
}

#playerScore {
    left: 450px;
}

#computerScore {
    right: 450px;
}

#playerLabel {
    position: absolute;
    right: 120px;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
}

#computerLabel {
    position: absolute;
    left: 120px;  
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
}

#mainDiv {
    height: 250px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

#weaponH2 {
    line-height: 20px;
    height: 20px;
}

#weaponSelection {
    display: flex;
    border: pink 0.25em solid;
    height: 180px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #27006a;
}

#weaponSelection div {
    border: yellow 0.10em solid;
    height: 100%;
    width: 200px;
}

.weaponImg {
    width: auto;
    height: 100%;
    vertical-align: middle;   
}

#bottomDiv {
    height: 180px;
    border-color: blue;
    border-style: solid;
    text-align: center;
}

#roundSelection {
    display: flex;
    border: fuchsia 0.25em solid;
    height: 110px;
    justify-content: center;
    align-items: center;
}

#playerSelection, #computerSelection {
    border: yellow 0.50em solid;
    width: 150px;
    height: 100%;
    background-color: #27006a;
}

.roundImg {
    width: auto;
    height: 100%;
    vertical-align: middle; 
}

#roundResult {
    width: 20%;
    height: auto;
    vertical-align: middle; 
    font-size: 3em;
}

#imgAttribution {
    font-size: small;
}